.tweetsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    max-height: 80vh
}

.tweet {
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    border-bottom: 2px solid gray;
    font-size: small;

}

.tweetHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.username {
    color: #1DA1F2;
    margin: 5px;
}
.userIcon{
    font-size: 36px;
}
.name{
    margin-left:8px
}

.time {
    color: #AAB8C2;
    margin: 5px;
}

.tweetFooter {
    margin-top: 10px;
}

.likeButton {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
