.main {
    /* background-color: green; */
    height: 100vh;
    width: 100vw;
    display: flex;

}

.coteGauche {
    background-image: url('https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png');
    height: 100vh;
    /* background-color: orange; */
    width: 30%;
}

.coteGaucheImage {
    height: 100vh
}

.divCoteDroite {
    display: flex;
    /* justify-content: center; */
    /* background-color: aqua; */
    width: 100%;
    align-items: center;
    padding: 30px;
}

.divCoteDroiteSub {
    /* background-color: gray; */
    padding-top: 50px;
}

.divCoteDroiteSubImage {
    width: 50px;
    /* background-color: aqua; */
}

.pGrosMots {
    font-size: 50px;
}

.pMoinsGrosMots {
    font-size: 30px;
}


.divDroiteButons {
    display: flex;
    flex-wrap: wrap;
    /* background-color: purple; */
    height: 300px;
}

.divUnButon {
    width: 100%;
}

.btnSignUp {
    background-color: #1DA1F2;
    border-color: #1DA1F2;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 250px;

}

.btnSignIn {
    background-color: transparent;
    border-color: #1DA1F2;
    border: 4px solid #1DA1F2;
    color: #1DA1F2;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 250px;
}
