.container {
    width: 50vw;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    border: 1px solid black;

}
.btnContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
}

.textarea {
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    padding: 10px;
}

.remaining {
    display: block;
    margin-top: 10px;
    color: #555;
}
.textarea{
    background-color: black;
}
